* {
  border: 1px solid blue;
}

body {
  background-color: purple;
}

nav {
  text-align: center;
  font-size: 3em;
  color: white;
  background-color: black;
  width: 100%;
}

.klass {
  background-color: red;
}

#eyed {
  background-color: red;
}

h1 {
  color: blue;
}

.list_container {
  background-color: gray;
}

.img_container {
  max-width: 100%;
}

 .gallery {
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  }
